html, body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Calibri, Tahoma, sans-serif;
}

canvas {
  display: block;
}

.mermaid svg { 
  max-width: 100%; 
  min-height: 500px;
  max-height: 90%;
}

.mermaid{
  text-align: center;
  padding: 5%;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.topnav {
  overflow: hidden;
  padding: 3px;
  margin: 10px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav button{
  border-style: solid;
  border-color: grey;
  border-radius: 100px;
}
.topnav button:hover{
  color: #f2f2f2;
  border-style: solid;
  border-color: rgb(239, 239, 239);
  border-radius: 100px;
  background-color: rgb(111, 111, 111);
}

.topnav a:hover {
  color: black;
}

.topnav a.active {
  color: white;
}

/* The alert message box */
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

.split {
  height: 50%;
  position: fixed;
  z-index: -1;
  left: 0;
  padding-top: 20px;
}

/* Control the left side */
.top {
  top: 0;
  width: 90%;
  align-content: center;

}

/* Control the right side */
.bottom {
  bottom: 0;
  width: 100%;

}

#dialog {
  border-radius: 10px;
  padding: 25px;
}

@media (max-width: 1000px)  { 
  .topnav button {
    border-style: solid;
    border-color: grey;
    border-radius: 100px;
    font-size: x-large;
    padding: 17px;
    margin: 7px;
  }
  .top {
    padding-top: 5%;
    padding-bottom: 15%;
  }
  p {
    font-size: xx-large;
  }
 }
